@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Nunito+Sans&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
